/*
    session styles
    version: 22.02.2016

    hero

    presented

    registration

    session


*/

/* ------------ hero ------------ */
.site__title_session {
    font-size: 36px;
    line-height: 38px;
}

.time-schedule__session {
    padding: 10px 0;
    margin: auto;
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    border-right: 2px solid rgba(255, 255, 255, 0.3);
    font: 400 16px/20px "Roboto", sans-serif;
    text-transform: uppercase;
}

.time-schedule__session__place {
    display: block;
    width: 100%;
    padding-bottom: 7px;
}

.time-schedule__session time {
    display: block;
    width: 100%;
}

.time-schedule__session__place i {
    padding-right: 4px;
    color: #b5b5b5;
}
/* ------------ /hero ------------ */

/* ------------ presented ------------ */
.presented {
    padding: 40px 0 22px;
    background: #f3f3f3;
}

.presented .speakers__person, .presented .speakers__post {
    text-align: center;
}

.presented .speakers__layout {
    margin: auto;
}
.presented .speakers__item{
    width: 260px;
    margin: 0 auto;
}
/* ------------ /presented ------------ */

/* ------------ registration ------------ */
.registration {
    padding: 39px 0 51px 0;
    background: #ffdc1a;
}

.registration__title {
    font: 700 26px/42px 'Roboto Slab', sans-serif;
    text-align: center;
}

.registration__title > span {
    display: block;
    margin-top: -5px;
    font: 400 16px/38px 'Roboto', sans-serif;
    letter-spacing: 0.4px;
    text-align: center;
    text-transform: none;
}

.registration__title {
    padding-bottom: 16px;
    letter-spacing: -0.7px;
}
/* ------------ /registration ------------ */

/* ------------ session ------------ */
.session {
    padding: 62px 0 50px 0;
    text-align: center;
}

.session__text p {
    margin-bottom: 25px;
    font: 400 16px/25px 'Roboto', sans-serif;
}

.session__text p a {
    border-bottom: 1px solid transparent;
    color: #ffdc1a;
    -webkit-transition: border .3s ease-in-out;
    transition: border .3s ease-in-out;
}

.session__text p a:hover {
    border-bottom: 1px solid #ffdc1a;
}

.session__labels {
    margin: 22px 0;
    text-align: left;
}

.session__labels .label {
    padding: 6px 8px 3px;
    min-width: 71px;
    font: 500 10px/1 'Robobo', sans-serif;
    white-space: nowrap;
}
/* ------------ /session ------------ */
.hero_session .hero__layout {
    position: relative;
}

@media (min-width: 768px) {

    /* ------------ hero ------------ */

    .hero_session .hero__layout {
        padding: 175px 0 31px;
    }
    .site__title_session {
        font-size: 40px;
        line-height: 42px;
    }

    .time-schedule__session {
        display: inline-block;
        overflow: hidden;
        width: auto;
        padding: 0;
    }

    .time-schedule__session__place {
        width: auto;
        padding: 15px 28px 12px;
        border-right: 2px solid rgba(255, 255, 255, 0.3);
    }

    .time-schedule__session time {
        width: auto;
        padding: 15px 30px 12px;
    }

    .time-schedule__session__place, .time-schedule__session time {
        float: left;
        text-align: center;
    }

    /* ------------ hero ------------ */

    /* ------------ presented ------------ */

    .presented .speakers__layout {
        max-width: 597px;
        margin: 0 auto;
    }
    .presented .speakers__item {
        margin: 0 18px;
    }

    /* ------------ /presented ------------ */
    /* ------------ registration ------------ */
    .registration__title > span {
        font-size: 20px;
    }
    /* ------------ /registration ------------ */

    /* ------------ session ------------ */
    .session {
        padding: 43px 0 96px 0;
    }

    .session__text p {
        margin-bottom: 38px;
        font-size: 20px;
        line-height: 38px;
    }

    .session__labels {
        padding-left: 0;
        padding-top: 0;
        margin: 22px 0;
        max-width: 560px;
        text-align: left;
    }

    /* ------------ /session ------------ */

}

@media (min-width: 1000px) {
    /* ------------ hero ------------ */
    .hero_session .hero__layout {
        padding: 132px 0 31px;
    }
    /* ------------ /hero ------------ */

    /* ------------ presented ------------ */
    .presented {
        padding: 40px 0 0px;
    }
    .presented .speakers__layout {
        max-width: 896px;
    }

    /* ------------ /presented ------------ */

    /* ------------ registration ------------ */
    .registration {
        padding-bottom: 63px;
    }

    .registration__title > span {
        font-size: 20px;
    }

    .registration__title {
        padding-bottom: 0;
        margin-bottom: 26px;
    }
    /* ------------ /registration ------------ */

    /* ------------ session ------------ */
    .session {
        padding: 59px 0 73px 0;
    }
    .session .site__title_subtitle{
        padding-bottom: 12px;
    }

    .session__text {
        max-width: 775px;
        margin: auto;
    }
    /* ------------ /session ------------ */

}