
/*
    sponsors-description styles
    version: 22.02.2016

    sponsors-description


*/

.single-sponsor .site__header {
    background: #000;
}

/*----------sponsors-description---------*/
.sponsors-description .description {
    padding: 63px 0 44px;
}
.sponsors-description .description .site__title {
    font-size: 26px;
    line-height: 42px;
    margin: 0 0 24px;
}
.sponsors-description .description p {
    margin: 0 0 38px;
}
.sponsors-description .media {
    padding: 69px 0 33px 0;
}
.sponsors-description .media .site__title {
    font-size: 26px;
    line-height: 42px;
    margin: 0 0 18px;
}
.sponsors-description .media iframe {
    width: 288px;
    height: 241px;
    margin: 0 9px 14px;
}
.sponsors-description__info {
    padding: 17px 0 13px;
    border-bottom: 2px solid #f3f3f3;
    text-align: center;
}
.sponsors-description__info dl {
    position: relative;
    display: block;
    padding: 14px 29px;
    text-align: center;
}
.sponsors-description__info dl + dl:before {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 2px;
    background: #f3f3f3;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    content: '';
}
.sponsors-description__info dt,
.sponsors-description__info dd {
    display: inline-block;
    color: #b5b5b5;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
.sponsors-description__info dd span {
    color: #000;
}
.sponsors-description__represent {
    padding: 58px 0 55px;
    text-align: center;
}
.sponsors-description__represent > a {
    display: inline-block;
    width: 257px;
    margin-bottom: 51px;
}
.sponsors-description__represent img {
    width: 100%;
}
.sponsors-description__represent .site__title {
    margin: 0 0 7px;
}
.sponsors-description__represent-text {
    font-size: 17px;
    line-height: 38px;
    letter-spacing: 0.5px;
}
.sponsors-description__contacts {
    text-align: center;
    border-top: 2px solid #f3f3f3;
    border-bottom: 2px solid #f3f3f3;
    padding: 38px 0 0;
}
.sponsors-description__contacts-item {
    display: block;
    margin: 0 41px 45px;
}
.sponsors-description__contacts-item address {
    font-size: 20px;
    line-height: 30px;
    white-space: pre-line;
    font-style: normal;
}
.sponsors-description__contacts-item a {
    border-bottom: 1px solid transparent;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    -webkit-transition: border .3s ease-in-out;
    transition: border .3s ease-in-out;
}
.sponsors-description__contacts-item a:hover {
    border-bottom: 1px solid #000;
}
.sponsors-description__contacts-item a[href^="tel"] {
    cursor: default;
    border: none;
}
.sponsors-description__contacts-item a[href^="tel"]:hover {
    border-bottom: none;
}
.sponsors-description__contacts-title {
    display: block;
    margin-bottom: 14px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
}
.sponsors-description__video {
    margin-bottom: 0;
    margin-top: -41px;
}
.sponsors-description__video > div {
    height: 164px;
    width: 320px;
}
.sponsors-description__video iframe {
    width: 100%;
    height: 100%;
}
/*----------/sponsors-description---------*/

@media (min-width: 768px) {

    /*----------sponsors-description---------*/
    .sponsors-description .description {
        padding: 45px 0 70px;
    }
    .sponsors-description .description .site__title {
        font-size: 30px;
        margin: 0 0 18px;
    }
    .sponsors-description .media {
        padding: 69px 0 55px 0;
    }
    .sponsors-description .media .site__title {
        font-size: 30px;
        margin: 0 0 9px;
    }
    .sponsors-description .media iframe {
        width: 341px;
        height: 285px;
        margin: 0 9px 22px;
    }
    .sponsors-description__info {
        padding: 27px 0 21px;
    }
    .sponsors-description__info dl {
        vertical-align: top;
        display: inline-block;
        padding: 7px 29px;
        text-align: left;
    }
    .sponsors-description__info dl + dl {
        border-left: 2px solid #f3f3f3;
    }
    .sponsors-description__info dl + dl:before {
        display: none;
    }
    .sponsors-description__represent {
        padding: 52px 0 59px;
    }
    .sponsors-description__represent > a {
        width: auto;
        margin-bottom: 49px;
    }
    .sponsors-description__represent .site__title {
        margin: 0 0 14px;
    }
    .sponsors-description__represent-text {
        font-size: 20px;
    }
    .sponsors-description__contacts {
        padding: 29px 42px 0;
    }
    .sponsors-description__contacts-item {
        vertical-align: top;
        display: inline-block;
        width: 30%;
        margin-bottom: 41px;
        text-align: left;
    }
    .sponsors-description__video {
        margin-bottom: 34px;
    }
    .sponsors-description__video > div {
        height: 402px;
        width: 96.9%;
    }
    /*----------/sponsors-description---------*/

}

@media (min-width: 1000px) {

    /*----------sponsors-description---------*/
    .sponsors-description .description {
        padding: 67px 0 44px;
    }
    .sponsors-description .media {
        padding: 69px 0 64px 0;
    }
    .sponsors-description .media iframe {
        width: 550px;
        height: 460px;
    }
    .sponsors-description__contacts {
        padding: 27px 0 31px;
    }
    .sponsors-description__contacts-item {
        margin: 0 41px 0;
    }
    .sponsors-description__video {
        margin-bottom: 13px;
        margin-top:  0;
    }
    .sponsors-description__video > div {
        height: 642px;
        width: 100%;
    }
    /*----------/sponsors-description---------*/


}

@media (min-width: 1170px) {

    /*------------sponsors-description-----------*/
    .sponsors-description__contacts-item {
        width: auto;
    }
    /*------------/sponsors-description-----------*/

}


